.sidebar {
    width: 250px;
    background-color: #F5F5F5 !important;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style: none;
    padding: 0;
  }
  
  .section li {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  @media screen and (max-width: 768px) {
    .sidebar{
      display: none;
    }
  }
  .sidebar {
    width: 16rem;
    background-color: white;
    padding: 1rem;
  }
  
  .sidebar > * + * {
    margin-top: 1.5rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .nav-item:hover {
    background-color: #f3f4f6;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .section-title {
    font-weight: 600;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #505050	;
  }
  
  .section-all {
    font-size: 15px;
    font-weight: 600;
    color: 	#D3D3D3;
    font-family: "Roboto", sans-serif;
    margin-bottom: 6px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .list-item:hover {
    background-color: #f3f4f6;
  }
  
  .item-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
   
  }
  
  .item-text {
    font-size: 0.875rem;
    color: #6b7280;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }
  
  .item-count {
    font-size: 0.75rem;
    color: #505050	;
    background-color: #D8D8D8;
    padding: 4px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  .dropDown{
    width: 100%;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 5px;
    margin-top: 0.5rem;
  }